.footer {
  position: sticky;
  bottom: 0;
  height: 80px;
  width: 100%;
}

.form {
  min-width: 400px;
  flex: 0;
}

.field {
  margin: 5px 0;
}

.content {
  flex: 1;
}

.continer {
  display: flex;
}
